# Regex assignment

In [1]:
#Question 1- Write a Python program to replace all occurrences of a space, comma, or dot with a colon.
import re
string='Python Exercises, PHP exercises.'
print(re.sub(r"[\s,.]",":" ,string))

Python:Exercises::PHP:exercises:

In [2]:
#Question 2-  Create a dataframe using the dictionary below and remove everything (commas (,), !, XXXX, ;, etc.) from the columns except words.
#Dictionary- {'SUMMARY' : ['hello, world!', 'XXXXX test', '123four, five:; six...']}
import re
import pandas as pd
dict={'SUMMARY' : ['hello, world!', 'XXXXX test', '123four, five:; six...']}
df=pd.DataFrame(dict)
df

                  SUMMARY
0           hello, world!
1              XXXXX test
2  123four, five:; six...

In [3]:
result=df['SUMMARY'].str.replace('[^a-z\s]','',regex=True)
result

0      hello world
1             test
2    four five six
Name: SUMMARY, dtype: object

In [4]:
#Question 3- Create a function in python to find all words that are at least 4 characters long in a string.
#The use of the re.compile() method is mandatory.
import re
string= "Apj abdul kalam is123missile man of india"
pattern=r"\w{4}+"
regex=re.compile(pattern)
result=regex.findall(string)
print(result)

['abdu', 'kala', 'is12', '3mis', 'sile', 'indi']

In [5]:
# With functions
import re
def find_char(string):
  pattern = re.compile(r'\w{4}+')
  matches = pattern.findall(string)
  return matches

In [6]:
string = "APJ Abdul kalam waas an Indian aerospace scientist also known as Missilw man of india"
result = find_char(string)
print(result)

['Abdu', 'kala', 'waas', 'Indi', 'aero', 'spac', 'scie', 'ntis', 'also', 'know', 'Miss', 'indi']

In [7]:
#Question 4- Create a function in python to find all three, four, and five character words in a string. 
#The use of the re.compile() method is mandatory

import re
def find_char(string1):
    pattern = re.compile(r'\b\w{3,5}\b')
    matches = pattern.findall(string1)
    return matches

In [8]:
string1 = "APJ Abdul kalam waas an Indian aerospace scientist also known as Missilw man of india"
result = find_char(string1)
print(result)

['APJ', 'Abdul', 'kalam', 'waas', 'also', 'known', 'man', 'india']

In [9]:
#Question 5- Create a function in Python to remove the parenthesis in a list of strings. The use of the re.compile() method is manda

import re
import pandas as pd
def remove_parentheses(strings):
    pattern = re.compile(r"[()]")
    for string in strings:
        string = re.sub(pattern,'', string)
        return string
string1=["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]
print(remove_parentheses(string1))

example .com

In [10]:
#Question 6- Write a python program to remove the parenthesis area from the text stored in the text file using 
#Regular Expression.
#Sample Text: ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]
import re
f=open("C:\\Users\\HP\\Documents\\ques6.txt",'r')
text=f.read()
pattern=r'\([^()]*\)'
match=re.sub(pattern,'',text)
print(match)

 ["example ", "hr@fliprobo ", "github ", "Hello ", "Data "]

In [11]:
#Question 7- Write a regular expression in Python to split a string into uppercase letters.
#Sample text: â€œImportanceOfRegularExpressionsInPython
import re
string="ImportanceOfRegularExpressionsInPython"
result=re.findall('[A-Z][^A-Z]*', string)
print(result)

['Importance', 'Of', 'Regular', 'Expressions', 'In', 'Python']

In [12]:
#Question 8- Create a function in python to insert spaces between words starting with numbers.
#Sample 
import re
def num_word_space(str):
    return re.sub( r'(\d+)([A-za-z]+)',r' \1\2 ',str)
print(num_word_space("RegularExpression1IsAn2ImportantTopic3InPython"))

RegularExpression 1IsAn  2ImportantTopic  3InPython

In [13]:
#Question 9- Create a function in python to insert spaces between words starting with capital letters or with numbers.
import re
def word_num_space(string):
    return re.sub(r"(\w)([A-Z][a-z]*|\d+)",r"\1 \2 ",string)
print(word_num_space("RegularExpression1IsAn2ImportantTopic3InPython"))

Regular Expression 1 Is An 2 Important Topic 3 In Python

In [14]:
#Question 10- Use the github link below to read the data and create a dataframe. 
#After creating the dataframe extract the first 6 letters of each country and store in the dataframe
#under a new column called first_five_letters
import pandas as pd
import re
data=pd.read_csv("https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv")

In [15]:
data.head()

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

In [16]:
data["Country"].sample(5)

102         Lebanon
143           Niger
123      Mauritania
150     Ivory Coast
122    Sierra Leone
Name: Country, dtype: object

In [17]:
data['first_five_letters']=data['Country'].apply(lambda x:x[:6])

In [18]:
data.head()

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,first_five_letters
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,Switze
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,Icelan
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,Denmar
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,Norway
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,Canada

In [19]:
#Question 11- Write a Python program to match a string that contains only upper and lowercase letters, numbers, and underscores.
import re
def match_test(string):
    pattern=r'^[a-zA-z0-9_]+$'
    if re.findall(pattern,string):
            return True
    else:
            return False
print(match_test('Data_Datatrained12'))
print(match_test("Datatrained 123_12"))

True
False

In [21]:
#Question 12- Write a Python program where a string will start with a specific number.

import re
def match_num(string):
    text = re.compile(r"^3")
    if text.match(string):
        return True
    else:
        return False
print(match_num('5Apples'))
print(match_num('3apples'))

False
True

In [22]:
#Question 13- Write a Python program to remove leading zeros from an IP address

import re
IP="10.0023.096.0187"
string = re.sub('\.[0]*', '.', IP)
print(string)

10.23.96.187

In [24]:
#Question 14- Write a regular expression in python to match a date string in the form of Month name
#followed by day number and year stored in a text file.
string="On August 15th 1947 that India was declared independent from British colonialism, and the reins of controlwere handed oto the leaders of the Country"
pattern=r'\b([A-za-z]+ \d{1,2}(?:th)? \d{4})\b'
matches=re.findall(pattern,string)
print(matches)

['August 15th 1947']

In [25]:

#Question 15- Write a Python program to search some literals strings in a string. 
import re
string='The quick brown fox jumps over the lazy dog.'
match=re.search("cat|dog|horse",string)
print(match)

<re.Match object; span=(40, 43), match='dog'>

In [26]:
#Question 16- Write a Python program to search a literals string in a string
#and also find the location within the original string where the pattern occurs
import re
string='The quick brown fox jumps over the lazy dog.'
match=re.search('\Wfox\W',string)
print(match)
print("position:",match.start())

<re.Match object; span=(15, 20), match=' fox '>
position: 15

In [30]:
#Question 17- Write a Python program to find the substrings within a string.
import re
text='Python exercises, PHP exercises, C# exercises'
pattern='exercises'
match=re.findall(pattern,text)
print(match)

['exercises', 'exercises', 'exercises']

In [32]:
#Question 18- Write a Python program to find the occurrence and position of the substrings within a string.
import re
string1='Python exercises, PHP exercises, C# exercises'
pattern='exercises'
for match in re.finditer(pattern,string1):
    print('found "%s" at %d:%d' %(text[match.start():match.end()],match.start(),match.end()))

found "exercises" at 7:16
found "exercises" at 22:31
found "exercises" at 36:45

In [33]:
#Question 19- Write a Python program to convert a date of yyyy-mm-dd format to dd-mm-yyyy formatate
def change_date_format(date):
     return re.sub(r'(\d{4})-(\d{1,2})-(\d{1,2})', '\\3-\\2-\\1', date)
date1="2024-03-02"
print(change_date_format(date1))

02-03-2024

In [1]:
#Question 20- Create a function in python to find all decimal numbers with a precision of 1 or 2 in a string. 
#The use of the re.compile() method is mandatory.
#Sample Text: "01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"
import re
def find_dec_numbers(string):
    pattern=re.compile(r'\d+\.\d{1,2}')
    dec_num=re.findall(pattern,string)
    return dec_num
string1="01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"
print(find_dec_numbers(string1))

error: multiple repeat at position 12

In [40]:
#Question 21- Write a Python program to separate and print the numbers and their position of a given string.
string="I buy 25 apples for rs 342\-"
pattern=r'\d+'
for match in re.finditer(pattern,string):
    print(match.group(0))
    print("position:",match.start())

25
position: 6
342
position: 23

In [41]:
#Question 22- Write a regular expression in python program to extract maximum/largest numeric value from a string.
marks='My marks in each semester are: 947, 896, 926, 524, 734, 950, 642'
pattern='\d+'
result=re.findall(pattern,marks)
max_marks=max(result)
print(max_marks)

950

In [42]:
#Question 23- Create a function in python to insert spaces between words starting with capital letters
import re
def insert_space(string):
    return re.sub(r"\w([A-Z][a-z]+)",r" \1 ",string)
print(insert_space("RegularExpression1IsAn2ImportantTopic3InPython"))

Regula Expression  Is An Important Topic In Python

In [43]:
#Question 24- Python regex to find sequences of one upper case letter followed by lower case letters
string="Apples are Red in Color Oranges are in orange Color"
pattern=r'[A-Z][a-z]+'
match=re.findall(pattern,string)
print(match)

['Apples', 'Red', 'Color', 'Oranges', 'Color']

In [44]:
#Question 25- Write a Python program to remove continuous duplicate words from Sentence using Regular Expression.
string="Hello hello world world"
pattern=r'\b(\w+)(\s+\1\b)+'
result=re.sub(pattern,r"\1",string)
print(result)

Hello hello world

In [45]:
#Question 26-  Write a python program using RegEx to accept string ending with alphanumeric character.
import re
pattern='[A-Za-z0-9]$'
def check_string(string):
    if(re.search(pattern,string)):
       print("string end with alphanum")
    else:
        print("string doesnot end with alphanum")
        str1="pythom@23"
        print(str1)
        print(check_string(str1))

In [46]:
#Question 27-Write a python program using RegEx to extract the hashtags.
import re
def extract_hashtags(text):
    pattern=re.findall(r'#\w+',text)
    return pattern
text="""RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered
          USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo"""
pattern=extract_hashtags(text)
print(pattern)

['#Doltiwal', '#xyzabc', '#Demonetization']

In [47]:
#Question 28- Write a python program using RegEx to remove <U+..> like symbols
#Check the below sample text, there are strange symbols something of the sort <U+..> all over the place. 
  #You need to come up with a general Regex expression that will cover all such symbols.
import re
text="@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who  are protesting #demonetizatioare all different party leaders"
pattern=r'<U\+\w{4}>'
result=re.sub(pattern,"",text)
print(result)

@Jags123456 Bharat band on 28??<ed><ed>Those who  are protesting #demonetizatioare all different party leaders

In [48]:
#Write a python program to extract dates from the text stored in the text file.
import re
import pandas as pd
f=open("C:\\Users\\HP\\Documents\\regex.txt",'r') 
text=f.read()
pattern=r'\d{2}-\d{2}-\d{4}'
dates=re.findall(pattern,text)
for date in dates:
    print(date)

12-09-1992
15-12-1999

In [49]:
#Question 30- Create a function in python to remove all words from a string of length between 2 and 4.
#The use of the re.compile() method is mandatory.
import re
def remove_all_words(string):
    pattern=re.compile(r'\b\w{2,4}\b')
    result=re.sub(pattern,'',string)
    return result
text="The following example creates an ArrayList with a capacity of50 elements.4 elements are then added to theArrayList and the ArrayList is trimmed accordingly."
print(remove_all_words(text))

 following example creates  ArrayList  a capacity  elements.4 elements   added  theArrayList   ArrayList  trimmed accordingly.