In [1]:
import selenium
import pandas as pd
import time
from bs4 import BeautifulSoup
from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException
import requests
from selenium.webdriver.common.by import By

1. Scrape  the  details  of  most  viewed  videos  on  YouTube  from  Wikipedia.  
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos You need to find following details:  A) 
Rank   
B) Name   
C) Artist   
D) Upload date   
E) Views

In [71]:
driver=webdriver.Chrome()
url=' https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos '
driver.get(url)

In [72]:
name=[]
artist=[]
date=[]
views=[]

In [74]:
n=driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"]/tbody/tr/td[1]')
for i in n:
    name.append(i.text)
a=driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"]/tbody/tr/td[2]')
for i in a:
    artist.append(i.text)
d=driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"]/tbody/tr/td[4]')
for i in d:
    date.append(i.text)
v=driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"]/tbody/tr/td[3]')
for i in v:
    views.append(i.text)

In [75]:
df=pd.DataFrame({'Name':name,'Artist':artist,'Date':date,'Views':views})
df

,Name,Artist,Date,Views
0,"""Baby Shark Dance""[7]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",14.32
1,"""Despacito""[10]",Luis Fonsi,"January 12, 2017",8.41
2,"""Johny Johny Yes Papa""[18]",LooLoo Kids - Nursery Rhymes and Children's Songs,"October 8, 2016",6.89
3,"""Bath Song""[19]",Cocomelon - Nursery Rhymes,"May 2, 2018",6.66
4,"""Shape of You""[20]",Ed Sheeran,"January 30, 2017",6.23
5,"""See You Again""[23]",Wiz Khalifa,"April 6, 2015",6.22
6,"""Wheels on the Bus""[28]",Cocomelon - Nursery Rhymes,"May 24, 2018",6.01
7,"""Phonics Song with Two Words""[29]",ChuChu TV Nursery Rhymes & Kids Songs,"March 6, 2014",5.75
8,"""Uptown Funk""[30]",Mark Ronson,"November 19, 2014",5.18
9,"""Gangnam Style""[31]",Psy,"July 15, 2012",5.10
10,"""Learning Colors – Colorful Eggs on a Farm""[36]",Miroshka TV,"February 27, 2018",5.09
11,"""Dame Tu Cosita""[37]",Ultra Records,"April 5, 2018",4.59
12,"""Masha and the Bear – Recipe for Disaster""[38]",Get Movies,"January 31, 2012",4.57
13,"""Axel F""[39]",Crazy Frog,"June 16, 2009",4.45
14,"""Sugar""[40]",Maroon 5,"January 14, 2015",4.02
15,"""Baa Baa Black Sheep""[41]",Cocomelon - Nursery Rhymes,"June 25, 2018",4.01
16,"""Counting Stars""[42]",OneRepublic,"May 31, 2013",4.00
17,"""Lakdi Ki Kathi""[43]",Jingle Toons,"June 14, 2018",3.98
18,"""Roar""[44]",Katy Perry,"September 5, 2013",3.98
19,"""Waka Waka (This Time for Africa)""[45]",Shakira,"June 4, 2010",3.89
20,"""Sorry""[46]",Justin Bieber,"October 22, 2015",3.78
21,"""Shree Hanuman Chalisa""[47]",T-Series Bhakti Sagar,"May 10, 2011",3.77
22,"""Humpty the train on a fruits ride""[48]",Kiddiestv Hindi - Nursery Rhymes & Kids Songs,"January 26, 2018",3.76
23,"""Thinking Out Loud""[49]",Ed Sheeran,"October 7, 2014",3.75
24,"""Perfect""[50]",Ed Sheeran,"November 9, 2017",3.70
25,"""Dark Horse""[51]",Katy Perry,"February 20, 2014",3.70
26,"""Let Her Go""[52]",Passenger,"July 25, 2012",3.64
27,"""Faded""[53]",Alan Walker,"December 3, 2015",3.60
28,"""Girls Like You""[54]",Maroon 5,"May 31, 2018",3.58
29,"""Lean On""[55]",Major Lazer Official,"March 22, 2015",3.57

2. Scrape the details team India’s international fixtures from bcci.tv.   
Url = https://www.bcci.tv/.   
You need to find following details:   
A) Series   
B) Place   
C) Date   
D) Time

In [3]:
driver=webdriver.Chrome()
url=' https://www.bcci.tv/'
driver.get(url)

In [5]:
Series=[]
Place=[]
Date=[]
Time=[]

In [6]:
s_tags=driver.find_elements(By.XPATH,'//h5[@class="match-tournament-name ng-binding"]')
for i in s_tags:
    Series.append(i.text)
p=driver.find_elements(By.XPATH,'//span[@class="ng-binding ng-scope"]')
for i in p:
    Place.append(i.text)
d=driver.find_elements(By.XPATH,'//div[@class="match-dates ng-binding"]')
for i in d:
    Date.append(i.text)
t=driver.find_elements(By.XPATH,'//div[@class="match-time no-margin ng-binding"]')
for i in t:
    Time.append(i.text)

In [7]:
import pandas as pd
df=pd.DataFrame({'Series':Series,'Place':Place,"Date":Date,'Time':Time})
df

,Series,Place,Date,Time
0,INDIA WOMEN TOUR OF BANGLADESH T20 SERIES 2024,"Sylhet International Cricket Stadium,","2 MAY, 2024",3:30 PM IST
1,INDIA WOMEN TOUR OF BANGLADESH T20 SERIES 2024,"Sylhet International Cricket Stadium,","6 MAY, 2024",3:30 PM IST
2,INDIA WOMEN TOUR OF BANGLADESH T20 SERIES 2024,"Sylhet International Cricket Stadium,","9 MAY, 2024",3:30 PM IST
3,ICC MENS T20 WORLD CUP 2024,"Nassau County International Cricket Stadium,","5 JUNE, 2024",8:00 PM IST
4,ICC MENS T20 WORLD CUP 2024,"Nassau County International Cricket Stadium,","9 JUNE, 2024",8:00 PM IST
5,ICC MENS T20 WORLD CUP 2024,"Nassau County International Cricket Stadium,","12 JUNE, 2024",8:00 PM IST
6,ICC MENS T20 WORLD CUP 2024,"Central Broward Park & Broward County Stadium,...","15 JUNE, 2024",8:00 PM IST
7,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club,","6 JULY, 2024",8:00 PM IST
8,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club,","7 JULY, 2024",8:00 PM IST

3. Scrape the details of State-wise GDP of India from statisticstime.com.   
Url = http://statisticstimes.com/   
You have to find following details: A) Rank   
B) State   
C) GSDP(18-19)- at current prices   
D) GSDP(19-20)- at current prices   
E) Share(18-19)   
F) GDP($ billion)   
Note: - From statisticstimes home page you have to reach to economy page

In [8]:
driver=webdriver.Chrome()
url=' http://statisticstimes.com/'
driver.get(url)

In [14]:
rank=[]
state=[]
gsdp1=[]
gsdp2=[]
share=[]
gdp=[]

In [16]:
r=driver.find_elements(By.XPATH,'//td[@class="data1"]')
for i in r:
    rank.append(i.text)
s=driver.find_elements(By.XPATH,'//td[@class="name"]')
for i in s:
    state.append(i.text)
g1=driver.find_elements(By.XPATH,'//td[4][@class="data"]')
for i in g1:
    gsdp1.append(i.text)
g2=driver.find_elements(By.XPATH,'//td[9][@class="data"]')
for i in g2:
    gsdp2.append(i.text)
s=driver.find_elements(By.XPATH,'//td[6][@class="data"]')
for i in s:
    share.append(i.text)
g3=driver.find_elements(By.XPATH,'//td[7][@class="data"]')
for i in g3:
    gdp.append(i.text)

In [17]:
print(len(rank),len(state),len(gsdp1),len(gsdp2),len(share),len(gdp))

136 136 136 136 136 136

In [18]:
df2=pd.DataFrame({'RAnk':rank,'State':state,'GSDP1':gsdp1,'GSDP2':gsdp2,'Shares':share,'GDP':gdp})
df2

    RAnk                      State       GSDP1       GSDP2 Shares         GDP
0     33  Andaman & Nicobar Islands           -           -  0.04%       1.385
1     32                    Mizoram           -           -  0.12%       3.715
2     31                   Nagaland      35,643      18,993  0.13%       4.144
3     30          Arunachal Pradesh      39,630      21,085  0.15%       4.643
4     29                    Manipur           -           -  0.16%       4.885
..   ...                        ...         ...         ...    ...         ...
131   30          Arunachal Pradesh      35,555      17,196  0.15%           -
132   31                   Nagaland      30,957      13,222  0.13%           -
133   32                    Mizoram           -      15,847  0.12%           -
134   33  Andaman & Nicobar Islands           -       6,558  0.04%           -
135                           India  23,439,442  12,872,132         14,805,736

[136 rows x 6 columns]

4. Scrape the details of trending repositories on Github.com.   
Url = https://github.com/   
You have to find the following details:   
A) Repository title   
B) Repository description   
C) Contributors count   
D) Language used

In [55]:
driver=webdriver.Chrome()
driver.get('https://github.com/search?q=trending%20repositories&type=repositories')

In [56]:
title=[]
desc=[]
c_count=[]
lang=[]

In [57]:
data_url=[]
url=driver.find_elements(By.XPATH,'//a[@class="Link__StyledLink-sc-14289xe-0 dheQRw"]')
for i in url:
    data_url.append(i.get_attribute('href'))

In [58]:
data_url

['https://github.com/QasimWani/LeetHub',
 'https://github.com/Semigradsky/trending-repositories',
 'https://github.com/laowch/GithubTrends',
 'https://github.com/vitalets/github-trending-repos',
 'https://github.com/mbadry1/Trending-Deep-Learning',
 'https://github.com/zhuowenli/githuber',
 'https://github.com/ophobe/trending',
 'https://github.com/alidehkhodaei/trending-repositories',
 'https://github.com/andygrunwald/go-trending',
 'https://github.com/ecrmnn/trending-github']

In [59]:
title=[]
desc=[]
c_count=[]
lang=[]

In [63]:
for url in data_url:
    driver.get(url)
    time.sleep(3)
    t=driver.find_elements(By.XPATH,'//span[@class="author flex-self-stretch"]')
    for i in t:
        title.append(i.text)
    d=driver.find_elements(By.XPATH,'//p[@class="f4 my-3"]')
    for i in d:
        desc.append(i.text)
    
    l=driver.find_elements(By.XPATH,'//span[2][@class="color-fg-default text-bold mr-1"]')
    for i in l:
        lang.append(i.text)

In [64]:
print(len(title),len(desc),len(lang))

20 20 20

In [65]:
df=pd.DataFrame({'title':title,'Description':desc,'languages':lang})
df

,title,Description,languages
0,QasimWani,Automatically sync your leetcode solutions to ...,JavaScript
1,Semigradsky,⭐ This is a list of repositories that were tre...,HTML
2,laowch,It's a GitHub Trending repositories Viewer wit...,CSS
3,vitalets,Track GitHub trending repositories in your fav...,JavaScript
4,mbadry1,Top 100 trending deep learning repositories so...,Shell
5,zhuowenli,Display Github Trending repositories on Chrome...,Batchfile
6,ophobe,Dataset of trending repositories on GitHub,Java
7,alidehkhodaei,A bot that automatically fetches trending repo...,HTML
8,andygrunwald,Go library for accessing trending repositories...,JavaScript
9,ecrmnn,📈 Simple API for getting trending repositorie...,Python
10,QasimWani,Automatically sync your leetcode solutions to ...,JavaScript
11,Semigradsky,⭐ This is a list of repositories that were tre...,Vue
12,laowch,It's a GitHub Trending repositories Viewer wit...,Sass
13,vitalets,Track GitHub trending repositories in your fav...,HTML
14,mbadry1,Top 100 trending deep learning repositories so...,SCSS
15,zhuowenli,Display Github Trending repositories on Chrome...,CSS
16,ophobe,Dataset of trending repositories on GitHub,Kotlin
17,alidehkhodaei,A bot that automatically fetches trending repo...,Go
18,andygrunwald,Go library for accessing trending repositories...,Makefile
19,ecrmnn,📈 Simple API for getting trending repositorie...,TypeScript

5. Scrape the details of top 100 songs on billiboard.com. Url = https:/www.billboard.com/  You have to find the 
following details:   
A) Song name   
B) Artist name   
C) Last week rank   
D) Peak rank   
E) Weeks on board   
Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [65]:
driver=webdriver.Chrome()
driver.get('https:/www.billboard.com/')

In [66]:
song=[]
artist=[]
rank=[]
prank=[]
week=[]

In [68]:

r=driver.find_elements(By.XPATH,'//span[@class="c-label  a-font-primary-bold-l u-font-size-32@tablet u-letter-spacing-0080@tablet"]')
for i in r:
    rank.append(i.text)

try:
    s=driver.find_elements(By.XPATH,'//h3[@class="c-title  a-no-trucate a-font-primary-bold-s u-letter-spacing-0021 lrv-u-font-size-18@tablet lrv-u-font-size-16 u-line-height-125 u-line-height-normal@mobile-max a-truncate-ellipsis u-max-width-330 u-max-width-230@tablet-only"]')
    for i in s:
        song.append(i.text)
except NoSuchElementException:
    song.append('-')
        

a=driver.find_elements(By.XPATH,'//span[@class="c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only"]')
for i in a:
    artist.append(i.text)
p=driver.find_elements(By.XPATH,'//li[@class="o-chart-results-list__item // a-chart-bg-color a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-background-color-grey-lightest lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-hidden@mobile-max"]/span')
for i in p:
    prank.append(i.text)

In [69]:
print(len(artist),len(song),len(rank),len(prank))

99 99 100 100

In [70]:
df=pd.DataFrame({'Artist':artist,'song':song})
df

               Artist                                  song
0        Taylor Swift                              Down Bad
1        Taylor Swift       I Can Do It With A Broken Heart
2        Taylor Swift         The Tortured Poets Department
3        Taylor Swift                       So Long, London
4        Taylor Swift  My Boy Only Breaks His Favorite Toys
..                ...                                   ...
94        $uicideBoy$                           Us Vs. Them
95     Tucker Wetmore                     Wine Into Whiskey
96      Morgan Wallen                Spin You Around (1/24)
97           310babii                             Soak City
98  Justin Timberlake                               Selfish

[99 rows x 2 columns]

6. Scrape the details of Highest selling novels.   
A) Book name   
B) Author name   
C) Volumes sold   
D) Publisher   
E) Genre   
Url - https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare

In [9]:
driver=webdriver.Chrome()
driver.get(' https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare')

In [10]:
name=[]
author=[]
sold=[]
publisher=[]
genre=[]

In [11]:
n=driver.find_elements(By.XPATH,'//td[2][@class="left"]')
for i in n:
    name.append(i.text)
a=driver.find_elements(By.XPATH,'//td[3][@class="left"]')
for i in a:
    author.append(i.text)
s=driver.find_elements(By.XPATH,'//td[4][@class="left"]')
for i in s:
    sold.append(i.text)
p=driver.find_elements(By.XPATH,'//td[5][@class="left"]')
for i in p:
    publisher.append(i.text)
g=driver.find_elements(By.XPATH,'//td[@class="last left"]')
for i in g:
    genre.append(i.text)

In [12]:
df4=pd.DataFrame({'Bookname':name,'Author_name':author,'Sales':sold,'Publishe':publisher,'Genre':genre})
df4

,Bookname,Author_name,Sales,Publishe,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

7. Scrape the details most watched tv series of all time from imdb.com.   
Url = https://www.imdb.com/list/ls095964455/ You have 
to find the following details:   
A) Name   
B) Year span   
C) Genre   
D) Run time   
E) Ratings   
F) Votes

In [33]:
driver=webdriver.Chrome()
driver.get('https://www.imdb.com/list/ls512407256/')

In [34]:
name=[]
year=[]
genre=[]
time=[]
ratings=[]
votes=[]

In [35]:
n=driver.find_elements(By.XPATH,'//h3[@class="lister-item-header"]')
for i in n:
    name.append(i.text)
y=driver.find_elements(By.XPATH,'//h3[@class="lister-item-header"]/span[2]')
for i in y:
    year.append(i.text)
g=driver.find_elements(By.XPATH,'//span[@class="genre"]')
for i in g:
    genre.append(i.text)
t=driver.find_elements(By.XPATH,'//span[@class="runtime"]')
for i in t:
    time.append(i.text)
r=driver.find_elements(By.XPATH,'//div[@class="ipl-rating-widget"]/div/span[2]')
for i in r:
    ratings.append(i.text)
v=driver.find_elements(By.XPATH,'//p[4][@class="text-muted text-small"]/span[2]')
for i in v:
    votes.append(i.text)

In [36]:
df=pd.DataFrame({'names':name,'year':year,'genre':genre,'time':time,'ratings':ratings,'votes':votes})
df

,names,year,genre,time,ratings,votes
0,1. Game of Thrones (2011–2019),(2011–2019),"Action, Adventure, Drama",60 min,9.2,"2,285,600"
1,2. Stranger Things (2016–2025),(2016–2025),"Drama, Fantasy, Horror",60 min,8.7,"1,336,942"
2,3. The Walking Dead (2010–2022),(2010–2022),"Drama, Horror, Thriller",45 min,8.1,"1,082,474"
3,4. 13 Reasons Why (2017–2020),(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"315,621"
4,5. The 100 (2014–2020),(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"276,193"
...,...,...,...,...,...,...
95,96. True Detective (2014– ),(2014– ),"Crime, Drama, Mystery",60 min,8.9,"656,800"
96,97. Teen Wolf (2011–2017),(2011–2017),"Action, Drama, Fantasy",41 min,7.7,"163,297"
97,98. The OA (2016–2019),(2016–2019),"Drama, Fantasy, Mystery",60 min,7.8,"115,907"
98,99. The Simpsons (1989– ),(1989– ),"Animation, Comedy",22 min,8.7,"436,042"
99,100. Desperate Housewives (2004–2012),(2004–2012),"Comedy, Drama, Mystery",45 min,7.6,"139,806"

8. Details of Datasets from UCI machine learning repositories.   
Url = https://archive.ics.uci.edu/  You 
have to find the following details:   
A) Dataset name   
B) Data type   
C) Task   
D) Attribute type   
E) No of instances   
F) No of attribute G) Year   
Note: - from the home page you have to go to the Show All Dataset page through code.

In [44]:
driver=webdriver.Chrome()
driver.get('https://archive.ics.uci.edu/datasets')

In [45]:
data_url=[]
url=driver.find_elements(By.XPATH,'//a[@class="link-hover link text-xl font-semibold"]')
for i in url:
    data_url.append(i.get_attribute('href'))

In [46]:
data_url

['https://archive.ics.uci.edu/dataset/53/iris',
 'https://archive.ics.uci.edu/dataset/45/heart+disease',
 'https://archive.ics.uci.edu/dataset/602/dry+bean+dataset',
 'https://archive.ics.uci.edu/dataset/545/rice+cammeo+and+osmancik',
 'https://archive.ics.uci.edu/dataset/2/adult',
 'https://archive.ics.uci.edu/dataset/850/raisin',
 'https://archive.ics.uci.edu/dataset/17/breast+cancer+wisconsin+diagnostic',
 'https://archive.ics.uci.edu/dataset/109/wine',
 'https://archive.ics.uci.edu/dataset/186/wine+quality',
 'https://archive.ics.uci.edu/dataset/34/diabetes']

In [47]:
name=[]
data=[]
task=[]
attr=[]
ins=[]
na=[]
year=[]

In [48]:
for url in data_url:
    driver.get(url)
    time.sleep(3)
    n=driver.find_elements(By.XPATH,'//h1[@class="text-3xl font-semibold text-primary-content"]')
    for i in n:
        name.append(i.text)
    
    d=driver.find_elements(By.XPATH,'//p[@class="svelte-17wf9gp"]')
    for i in d:
        data.append(i.text)
    t=driver.find_elements(By.XPATH,'//div[@class="grid grid-cols-8 gap-4 md:grid-cols-12"]/div[1]/p')
    for i in t:
        task.append(i.text)
    a=driver.find_elements(By.XPATH,'//div[@class="grid grid-cols-8 gap-4 md:grid-cols-12"]/div[3]/p')
    for i in a:
        attr.append(i.text)
    s=driver.find_elements(By.XPATH,'//div[@class="grid grid-cols-8 gap-4 md:grid-cols-12"]/div[5]/p')
    for i in s:
        ins.append(i.text)
    
    n_a=driver.find_elements(By.XPATH,'//div[@class="grid grid-cols-8 gap-4 md:grid-cols-12"]/div[6]/p')
    for i in n_a:
        na.append(i.text)
    try:
        y=driver.find_elements(By.XPATH,'//h2[@class="text-sm text-primary-content"]')
        for i in y:
            year.append(i.text)
    except NoSuchElementException:
        year.append('-')

In [49]:
print(len(name),len(data),len(task),len(attr),len(year),len(na),len(ins))

10 10 10 10 9 10 10

In [50]:
df=pd.DataFrame({'name':name,'Data_type':data,'Task':task,'Atribute_type':attr,'No_of_attr':na,'No_of_instances':ins})
df

,name,Data_type,Task,Atribute_type,No_of_attr,No_of_instances
0,Iris,"A small classic dataset from Fisher, 1936. One...",Tabular,Classification,4,150
1,Heart Disease,"4 databases: Cleveland, Hungary, Switzerland, ...",Multivariate,Classification,13,303
2,Dry Bean,"Images of 13,611 grains of 7 different registe...",Multivariate,Classification,16,13611
3,Rice (Cammeo and Osmancik),A total of 3810 rice grain's images were taken...,Multivariate,Classification,7,3810
4,Adult,Predict whether income exceeds $50K/yr based o...,Multivariate,Classification,14,48842
5,Raisin,Images of the Kecimen and Besni raisin varieti...,Multivariate,Classification,7,900
6,Breast Cancer Wisconsin (Diagnostic),Diagnostic Wisconsin Breast Cancer Database.,Multivariate,Classification,30,569
7,Wine,Using chemical analysis to determine the origi...,Tabular,Classification,13,178
8,Wine Quality,"Two datasets are included, related to red and ...",Multivariate,"Classification, Regression",11,4898
9,Diabetes,This diabetes dataset is from AIM '94,"Multivariate, Time-Series",Classification,20,1